<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESPACE.EXE</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    <div id="terminal">

        <div id="header">
            <p>ESCAPE.EXE v0.1 — SYSTEM READY</p>
            <p id="timer">TIME: 00:00</p>
        </div>

        <div id="output"></div>

        <div id="input-line">
            <span id="prompt">&gt;</span>
            <input type="text" id="command-input" autofocus autocomplete="off" placeholder="enter a commande..."/>
        </div>

    </div>
    
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>